@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #29081a;
    --second-bg-color: #42112c;
    --text-color: #ededed;
    --main-color: #f0008c;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}
  
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: .3s;
}

.header.sticky {
    background: var(--bg-color);
}

.image {
  height: 50px;
  float: left;
}

.navbar {
  position: relative;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
  }
  
  nav ul li {
    display: inline;
    margin-left: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  
  .home-section,
  .about-section,
  .contact-section {
    padding: 50px 0;
  }
  
  .home-section h2,
  .about-section h2,
  .contact-section h2 {
    text-align: center;
  }
  
  video {
    display: block;
    margin: 0 auto;
    width: 80%;
  }
  
  .about-section img {
    display: block;
    margin: 0 auto;
    width: 200px;
  }
  
  .contact-info {
    text-align: center;
  }
  
  #map {
    height: 300px;
    width: 80%;
    margin: 20px auto;
  }
  