
form {                                                                     
    padding: 20px;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
}
.home-text h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    line-height: 1;
    color: orange;
    margin: 0 400px 40px;
}

